.web{
    margin-left: 70rem;
  }
  .main{
         background-image: url("image/bg_header.jpg");
         height: 500px;
         width:100%;
         opacity: 0.9;
  }
  .head2{
      padding-top:150px;
  }
  .btn1{
     margin-left:90rem;
   }
  .img2{
     width:25px;
  }
  .fb{
      display:grid;
       grid-template-columns: 500px 500px 600px;
  }